{
    "rules": {
      "no-restricted-globals": [
        "error",
        {
          "name": "confirm",
          "message": "Use a custom modal or dialog instead of the built-in confirm dialog."
        }
      ]
    }
  }
  